<div *ngIf="lentes.length > 0; else loading">
    <ul>
      <li *ngFor="let lente of lentes">
        Marca: {{ lente.marca }}, Modelo: {{ lente.modelos }}, Precio: {{ lente.precio }}
      </li>
    </ul>
  </div>
  <ng-template #loading>
    <p>Cargando datos...</p>
  </ng-template>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="montura">
        <th mat-header-cell *matHeaderCellDef> Montura </th>
        <td mat-cell *matCellDef="let element"> {{element.montura}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> 
          <a href="javascript:void(0)" (click)="openModal()">{{element.modelos}}</a>
        </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> $ {{element.precio}} </td>
      </ng-container>
   
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
